.about {
  padding: 15px 0 50px;
  background-color: $grey;
}
.about-title {
  color: $black;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}
.about-small-title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 11px;
}
.about-small-text {
  font-weight: 300;
  line-height: 24px;
}
.about-text {
  font-size: 15px;
}
.about-text-decs {
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
}
.about-advantages {
  max-width: 276px;
  text-align: center;
}
.decor-box-1 {
  position: absolute;
  left: 0;
  top: -10px;
  width: 120px;
  height: 120px;
  background-color: $breeze;
  opacity: 0.1;
}
.decor-box-2 {
  position: absolute;
  right: 0;
  top: 70px;
  width: 193px;
  height: 193px;
  background-color: $breeze;
}
.about-advantages-img {
  position: relative;
  z-index: 2;
  min-height: 240px;
  object-fit: cover;
}
.about-desc {
  padding: 37px 0 33px;
  border-top: 1px solid #d7d7d7;
  border-bottom: 1px solid #d7d7d7;
}
.about-title-medium {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 14px;
}
.about-desc-sub-title {
  color: $black;
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 8px;
}
.about-desc-title {
  color: $black;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 14px;
}
.about-desc-text {
  max-width: 640px;
  margin: 0 auto;
}
.about-desc-second {
  padding: 50px 0 33px;
  background-color: $grey;
}
.about-desc-second-img-box {
  position: relative;
  img {
    position: relative;
    z-index: 2;
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translate(-15px, 15px);
    background-color: $breeze;
    z-index: 1;
  }
}
.docs {
  padding: 33px 0;
  overflow: hidden;
}
.docs-title {
  color: $black;
  font-size: 28px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 7px;
}

.docs-desc {
  opacity: 0.4;
  color: $black;
  font-size: 15px;
  font-weight: 400;
  text-align: center;
}
.docs-slider {
  width: 135vw;
}
.docs-slider__item {
  text-align: center;
  padding-right: 15px;
}
.docs-img-wrap {
  text-align: center;
  img {
    margin: 0 auto;
  }
}
.docs-slider-img-desc {
  opacity: 0.8;
  color: $black;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  margin-top: 11px;
}
.drag-img {
  animation: 2s ease-out infinite 0s move;
}
@keyframes move {
  0% {
    transform: translateX(-7px);
  }

  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(-7px);
  }
}

@media (min-width: 992px) {
  .about {
    padding: 40px 0 100px;
  }
  .about-title {
    font-size: 30px;
    line-height: 39px;
  }
  .about-text {
    font-size: 16px;
  }
  .about-small-title {
    font-size: 22px;
  }
  .about-small-text {
    font-size: 16px;
    line-height: 28px;
  }
  .about-text-decs {
    line-height: 30px;
    font-size: 16px;
  }
  .about-advantages {
    max-width: 300px;
    text-align: left;
  }
  .decor-box-1 {
    width: 522px;
    height: 508px;
    left: -80px;
    top: -80px;
  }
  .decor-box-2 {
    top: unset;
    bottom: -30px;
    right: -15px;
  }
  .about-desc {
    padding: 77px 0 70px;
  }
  .about-desc-sub-title {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .about-desc-title {
    font-size: 48px;
  }
  .about-desc-text {
    font-size: 16px;
  }
  .about-desc-second {
    padding: 100px 0 120px;
  }
  .about-desc-second-img-box {
    img {
      height: 640px;
      object-fit: cover;
    }
    &::after {
      transform: translate(-40px, 40px);
      background-color: $breeze;
      z-index: 1;
    }
  }
  .about-title-medium {
    font-size: 30px;
    margin-bottom: 28px;
  }
  .about-desc-second-text {
    font-size: 16px;
    line-height: 30px;
  }
  .docs {
    padding: 50px 0 60px;
    overflow: hidden;
  }
  .docs-desc {
    font-size: 16px;
  }
  .docs-slider {
    width: 100%;
    position: relative;
  }
  .docs-slider-arrow {
    position: absolute;
    top: 50%;
    cursor: pointer;
  }
  .docs-slider-arrow.arrowNext {
    right: -60px;
    transform: translateY(-50%) rotate(180deg);
  }
  .docs-slider-arrow.arrowPrev {
    left: -60px;
    transform: translateY(-50%);
  }
}
