.category {
  background-color : $grey;
}

.category-desc {
  padding : 0 0 35px;

  h1 {
    word-break : break-word;
  }
}

.title-category {
  color       : $black;
  font-size   : 24px;
  font-weight : 700;
  line-height : 28px;
}

.category-img-wrap {
  padding : 0;
}

.category-price {
  width      : 100%;
  padding    : 0;
  list-style : none;

  &__item {
    display         : flex;
    justify-content : space-between;
    margin-bottom   : 20px;

    span {
      &:last-child {
        font-weight : 700;
      }
    }

    &_first {
      padding          : 12px 20px;
      margin           : 0 -15px 25px -15px;
      background-color : #f5f5f5;
      opacity          : 0.2;
      color            : $black;
      font-size        : 14px;
      font-weight      : 500;
      text-transform   : uppercase;
    }
  }
}

.category-advantages {
  padding-bottom : 20px;
}

.category-advantages__item {
  margin-bottom : 20px;

  img {
    object-fit : cover;
    height     : auto;
  }
}

.category-advantages-item {
  &__desc {
    background-color : $white;
    padding          : 23px 20px 28px;
    text-align       : center;

    p {
      max-width    : 350px;
      margin-left  : auto;
      margin-right : auto;
    }

    a {
      color       : #09b3af !important;
      line-height : 20px;

      &:hover {
        color : #09b3af !important;
      }
    }
  }

  &__price {
    color       : $breeze;
    font-size   : 20px;
    font-weight : 700;
  }
}

//
.calc-block {
  padding : 40px 0;
}

.h-xs-200-300 {
  height : 200px;
}

.category-dropdown-title {
  color         : $black;
  font-size     : 14px;
  line-height   : 16px;
  margin-bottom : 10px;
}

.bootstrap-select .dropdown-toggle:focus {
  outline : none !important;
}

.category-dropdown {
  width         : 100%;
  padding       : 12px 15px 10px;
  border        : 1px solid $breeze;
  margin-bottom : 10px;
  min-width     : 300px;
  border-radius : 0;
  outline       : none !important;
  color         : $breeze;

  &:hover {
    color : $breeze;
  }

  &:focus {
    box-shadow : none !important;
    outline    : none !important;
  }

  &.bs-placeholder {
    color : #9a9a9a;
  }
}

.dropdown-menu {
  width  : 100%;
  border : 1px solid $breeze;
}

.dropdown-item {
  outline : none !important;

  &.active, &:active {
    background-color : $breeze;

    .text {
      color : #ffffff;
    }
  }

  .text {
    color : $black;
  }
}

.form-group {
  position       : relative;
  margin-bottom  : 1.5rem;
  display        : flex;
  flex-direction : column;
}

.form-input-placeholder {
  position   : absolute;
  top        : 0;
  padding    : 7px 0;
  transition : all 200ms;
  color      : #9a9a9a;
  font-size  : 14px;
}

.form-input {
  padding       : 7px 0;
  border        : none;
  border-bottom : 1px solid #979797;
  outline       : none;
  width         : 100%;
}

.decodeWrapper {
  iframe {
    width : 100% !important;
  }
}

.form-input:focus {
  border-bottom : 1px solid #242424;
  outline       : none;
}

.form-input:focus + .form-input-placeholder,
.form-input:valid + .form-input-placeholder {
  font-size : 85%;
  transform : translate3d(0, -50%, 0);
}

.text_bold {
  font-weight : 700;
}

.bg-transparent-white {
  background-color : transparent;
}

.materials-box {
  padding       : 20px;
  border        : 1px solid #9e9e9e;
  margin-bottom : 30px;

  &_img {
    display : block;
    margin  : 0 auto;
    width   : 72px;
    height  : 70px;
  }
}

.category-video-reviews-slider-wrap {
  overflow : visible;

  .our-works-slider-arrow-box {
    position : relative;
    bottom   : unset;
    left     : unset;
  }

  .material-slider-arrow-box {
    max-width : 280px;
    margin    : 30px auto 0;
  }
}

.reviews-slider__item {
  padding : 0 7.5px 30px;
}

// #category,
// #product {
//   .reviews-slider {
//     width: 190vw;
//     margin: 0 -30px;
//   }
// }
// #category,
// #product {
//   .video-reviews-slider {
//     margin: 0 -30px;
//     .slick-list {
//       overflow: visible;
//       padding: 0 25px;
//     }
//   }
// }
.reviews-slider {
  //.slick-list {
  //  overflow: visible;
  //}

  //.slick-slide {
  //  width: 100% !important;
  //}
}

.custom-bg {
  background : $white;
}

@media (min-width : 425px) {
  .category-video-reviews-slider-wrap {
    overflow : hidden;
  }
  .reviews-slider__item {
    padding : 0 15px;
  }
  .h-xs-200-300 {
    height : 300px;
  }
  // #category,
  // #product {
  //   .video-reviews-slider {
  //     margin: 0;
  //     .slick-list {
  //       overflow: hidden;
  //       padding:0;
  //     }
  //   }
  // }
  // #category,
  // #product {
  //   .reviews-slider {
  //     width: 100%;
  //     margin: 0;
  //   }
  // }
  .category-reviews-slider-wrap {
    overflow : visible;
  }
}

@media (min-width : 768px) {
  .h-lg-400 {
    height : 400px;
  }
  .reviews-slider .slick-list {
    overflow : hidden;
  }
}

@media (min-width : 992px) {
  .custom-bg {
    background : transparent;
  }
  .bg-transparent-white {
    background-color : $white;
  }
  .title-category {
    color       : $black;
    font-size   : 30px;
    font-weight : 700;
    line-height : 36px;
  }
  .category-dropdown-title {
    color       : $black;
    font-size   : 18px;
    line-height : 16px;
    margin      : 15px;
    display     : block;
  }
  .category-price__item {
    margin-bottom : 42px;

    span {
      &:first-child {
        font-size : 18px;
      }

      &:last-child {
        font-size : 22px;
      }
    }

    &_first {
      font-size : 16px;
    }
  }
  .category-advantages {
    padding : 25px 0 60px;
  }
  .category-advantages-item {
    &__desc {
      padding : 18px 15px 21px;
    }
  }
  .category-advantages__item {
    cursor        : pointer;
    margin-bottom : 30px;
    transition    : box-shadow 0.4s ease-out;

    &:hover {
      box-shadow : 1px 1px 15px 5px rgba(9, 179, 175, 0.2);

      img {
        transform : scale(1.15);
      }
    }

    a {
      overflow : hidden;
    }

    img {
      transition : all 0.4s ease-in-out;
    }
  }
  .reviews-slider-arrow_prev {
    z-index : 1;
  }
  .reviews-slider {
    .slick-slide {
      width : 350px !important;
    }
  }
  #category .reviews-slider {
    width : 100%;
  }
}
