.contacts {
  padding: 15px 0 40px;
  background-color: $grey;
}
.contacts-title {
  color: $breeze;
  font-size: 15px;
  font-weight: 500;
}
.contacts-text {
  font-size: 16px;
}
.contacts-phone {
  color: $black;
  font-size: 16px;
  line-height: 28px;
  &:hover {
    color: $black;
  }
}
.contacts-map{
    width: 100%;
    height: 500px;
}
@media(min-width:992px){
    .contacts{
        padding: 40px 0 140px;
    }
    .contacts-map{
        height: 600px;
    }
}