* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Gotham Pro", serif;
  font-size: 14px;
  color: $black;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
  overflow-x: hidden;
}
a {
  cursor: pointer;
  &:hover {
    text-decoration: none;
  }
}
.pl-55 {
  padding-left: 55px !important;
}
.pl-80 {
  padding-left: 80px !important;
}
.pl-105 {
  padding-left: 105px !important;
}
.pl-130 {
  padding-left: 130px !important;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-15 {
  margin-bottom: 15px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-25 {
  margin-bottom: 25px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mb-35 {
  margin-bottom: 35px;
}
.mb-40 {
  margin-bottom: 40px;
}
.pagin {
  margin: 0 auto;
}
.pagin-arrow {
  display: block;

  img {
    width: 9px;
    height: 16px;
    object-fit: cover;
    object-position: center;
  }
}
.pagin-prev {
  transform: rotateY(180deg);
}

.pagin-num {
  font-size: 16px;
  margin: 0 15px;
  color: $black;
  position: relative;
  &::after {
    content: "";
    width: 0;
    height: 10px;
    background-color: $breeze;
    position: absolute;
    bottom: 7px;
    left: 0;
    opacity: 0.3;
    transition: all 0.3s ease-out;
  }
  &:hover {
    color: $black;
    &::after {
      width: 20px;
    }
  }
  &_active {
    &::after {
      width: 20px;
    }
  }
}
main {
  /*padding-top: 60px;*/
  flex: 1;
}
.ui-autocomplete {
  max-height: 300px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
}
.ui-menu.ui-widget {
  position: fixed;
  left: unset !important;
  right: 0 !important;
  .ui-menu-item {
    border-bottom: 1px solid #f5f5f5;
    .ui-state-active {
      background-color: $breeze !important;
      border: none;
    }
  }
}
.offset-header-height {
  padding-top: 50px;
}
.menu-input-wrap-mobile {
  display: none;
}
.decodeWrapper {
  table{
    max-width: 100%;
    display: block;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
  img {
    max-width: 100%;
    height: auto;
  }
}

@media (min-width: 992px) {
  .ui-autocomplete {
    max-height: 600px;
  }
  .ui-menu.ui-widget {
    right: 0 !important;
  }
  .mb-lg-20 {
    margin-bottom: 20px;
  }
  .mb-lg-25 {
    margin-bottom: 25px;
  }
  .mb-lg-30 {
    margin-bottom: 30px;
  }
  .mb-lg-35 {
    margin-bottom: 35px;
  }
  .mb-lg-40 {
    margin-bottom: 40px;
  }
  .mb-lg-45 {
    margin-bottom: 45px;
  }
  .mb-lg-50 {
    margin-bottom: 50px;
  }
  .mb-lg-60 {
    margin-bottom: 60px;
  }
  .text-lg-16 {
    font-size: 16px;
  }
  .text-lg-18 {
    font-size: 18px;
  }
  .text-lg-20 {
    font-size: 20px;
  }
  .text-lg-24 {
    font-size: 24px;
  }
  .pagin-num-box {
    transform: translateY(2px);
  }
  .pagin-num {
    font-size: 20px;
    margin: 0 25px;
  }
}
.breadcrumbs-wrap {
  a {
    color: $black;
    opacity: 0.3;
    transition: all 0.3s ease-in-out;
    font-size: 14px;
    &:hover {
      color: $black;
      opacity: 1;
    }
  }
  span {
    font-size: 14px;
    color: $black;
    opacity: 0.3;
  }
}
@media (min-width: 1199px) {
  html,
  body {
    font-size: 15px;
  }
  .offset-header-height {
    padding-top: 140px;
  }

  .breadcrumbs-wrap {
    a {
      font-size: 16px;
    }
    span {
      font-size: 16px;
    }
  }
}

.breeze-text {
  color: $breeze;
}
.grey-text {
  color: $grey;
}

.preloader-holder {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 9999;
}

.preloader {
  position: absolute;
  width: 10%;
  height: 0;
  padding-bottom: 10%;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);

  div {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    overflow: hidden;
    animation: animatePreloader 1s infinite linear;
    transform-origin: 50% 100%;

    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      left: 50%;
      top: 50%;
      transform: translateX(-50%);
      border: 2px solid #333;
      border-radius: 50%;
      box-sizing: border-box;
      animation: colorChange 2s infinite linear;
    }

    &:nth-of-type(1):before {
      animation: colorChange 0.7s infinite linear;
    }

    &:nth-child(2) {
      width: 60%;
      height: 60%;
      top: 20%;
      animation: animatePreloader 0.5s infinite linear;
    }
  }
}

@keyframes animatePreloader {
  0% {
    transform: translateX(-50%) translateY(-50%) rotateZ(0deg);
  }
  100% {
    transform: translateX(-50%) translateY(-50%) rotateZ(360deg);
  }
}

@keyframes colorChange {
  0% {
    border-color: #025d62;
  }
  25% {
    border-color: #585fe6;
  }
  50% {
    border-color: #a14078;
  }
  75% {
    border-color: #92b113;
  }
}
