.header-desctop {
  box-shadow: 0 3px 11px rgba(0, 0, 0, 0.18);
}
.header-desctop-top {
  padding: 15px 25px 9px;
}
.header-logo {
  display: block;
  max-width: 320px;
  margin: 0 auto;
}
.phones-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.phone {
  color: #000;
}
.header-desctop-bottom {
  display: flex;
}
.social-links-box_mr40 {
  margin-right: 40px;
}
.menu-dropdown-wrap {
  cursor: pointer;
  padding: 14px 24px;
  width: 19vw;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  position: relative;
}
.menu-dropdown-title {
  font-size: 18px;
  color: $black;

  display: flex;
  align-items: center;
  &:after {
    content: "";
    width: 9px;
    height: 16px;
    background-image: url("../img/mp/arrow.svg");
    background-size: cover;
    margin-left: 15px;
    transition: 0.4s ease;
  }
  &_active {
    &:after {
      transform: rotate(90deg);
    }
  }
}
.menu-input-wrap {
  position: relative;

  &:after {
    content: "";
    width: 17px;
    height: 17px;
    background-image: url("../../img/search.svg");
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
  }
}
.menu {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 12px 25px;
  background-color: $breeze;
  &__link {
    color: $white;
    font-size: 16px;
    position: relative;
    &:after {
      content: "";
      position: absolute;
      width: 0;
      height: 1px;
      background-color: $white;
      bottom: -1px;
      left: 50%;
      transform: translateX(-50%);
      transition: all 0.2s ease-in-out;
    }
    &:hover {
      color: $white;
      &:after {
        width: 100%;
      }
    }
  }
  &__input {
    padding: 10px 0 6px 40px;
    outline: none;
    border: none;
  }
}
.top-slider-title {
  font-size: 36px;
  margin-bottom: 21px;
}
.title {
  font-size: 40px;
}
.decor-bg {
  &:after {
    bottom: -7px;
    height: 17px;
  }
}
.services {
  overflow: hidden;
  padding: 60px 0;
}
.service__item {
  margin-top: 30px;
  transition: box-shadow 0.4s ease-out;

  &:hover {
    box-shadow: 1px 1px 15px 5px rgba(9, 179, 175, 0.2);

    img {
      transform: scale(1.15);
    }
  }

  img {
    transition: all 0.4s ease-in-out;
  }
}

.decor-element {
  position: absolute;
  background: #e0f1f1;
  transition: all 0.8s ease-out;
  &_first {
    width: 207px;
    height: 109px;
    top: 0;
    left: -125px;
  }
  &_second {
    width: 450px;
    height: 109px;
    top: 0;
    right: -180px;
  }
  &_third {
    width: 207px;
    height: 170px;
    top: 60%;
    left: -105px;
  }
  &_fourth {
    width: 278px;
    height: 170px;
    top: 55%;
    right: -185px;
  }
}
.feedback-title {
  font-size: 30px;
}
.feedback-text {
  font-size: 16px;
}
.feedback-img-box,
.feedback-desc-box {
  width: 50%;
}
.feedback-desc {
  max-width: 540px;
  width: 100%;
}
.feedback-img-box {
  img {
    max-height: 325px;
  }
}
.maxWdt350 {
  max-width: 350px;
}
.advantages {
  padding: 60px 0 70px;
}
.our-works {
  padding-top: 60px;
  padding-bottom: 60px;
  height: 668px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.our-works-desc {
  background: $white;
  max-width: 640px;
  height: 605px;
  padding: 85px 30px 85px 185px;
  position: absolute;
  top: -25%;
  right: 0;
  z-index: 2;
}
.our-works-text {
  font-size: 18px;
  line-height: 30px;
}
.our-works-slider-bg {
  max-height: unset;
  min-height: 100%;
}
.our-works-slider {
  max-width: 445px;
}
.our-works-slider-arrow-box {
  position: absolute;
  bottom: -28%;
  left: 0;
  right: 0;
  z-index: 7;
  margin-left: 15px;
  margin-right: 30px;
}
.btn-custom_our-works {
  max-width: 445px;
  width: 100%;
  position: relative;
  z-index: 5;
  transform: translateY(-8px);
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  align-items: center;
}
.our-works-decor {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: $breeze;

  &_first {
    z-index: 1;
    opacity: 0.5;
  }
  &_second {
    z-index: 5;
    opacity: 0.1;
  }
}
.made-booking-title {
  font-size: 20px;
}
.made-booking {
  padding: 60px 0;
}
.news {
  padding: 140px 0 0;
}
.news-img-wrap {
  margin-bottom: 0;
  height: 100%;
  max-width: 385px;
  min-height: 720px;
  img {
    top: -60px;
    left: 95px;
    height: 100%;
    width: 140%;
  }
}
.news-desc-wrap {
  padding: 43px 60px 40px;
}
.reviews {
  padding: 60px 0 50px;
}
.reviews-slider {
  width: 100%;
  margin: 0;
  .slick-list {
    padding: 0;
  }
}
.reviews-slider__item {
  padding-bottom: 35px;
}
.reviews-slider-arrow {
  position: absolute;
  top: 50%;
  width: 11px;
  height: 20px;
  background-image: url("../img/mp/arrow.svg");
  background-size: cover;
  &_next {
    right: -30px;
    transform: translateY(-50%);
  }
  &_prev {
    left: -30px;
    transform: translateY(-50%) rotate(180deg);
  }
}
.video-reviews {
  padding: 40px 0 60px;
}
.video-reviews-iframe {
  width: 350px;
  height: 210px;
}
.text_16-20 {
  font-size: 20px;
}
.footer {
  padding-top: 15px;
}
.footer-menu-link {
  margin-bottom: 17px;
}
.footer-logo {
  max-width: 350px;
  width: 100%;
  position: relative;
  &:after {
    content: "";
    position: absolute;
    left: 110%;
    top: 50%;
    width: 100vw;
    height: 2px;
    background-color: $breeze;
    opacity: 0.4;
  }
  &:before {
    content: "";
    position: absolute;
    right: 110%;
    top: 50%;
    width: 100vw;
    height: 2px;
    background-color: $breeze;
    opacity: 0.4;
  }
}
@media (min-width: 1199px) {
  .our-works-desc {
    max-width: 825px;
  }
  .service-item-title {
    font-size: 27px;
  }
}
