// burger-style
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $white;
  z-index: 11;
  transition: all 0.3s ease-out;
}
header.numberHide {
  top: -80px;
}
.phones-box__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
  text-align: center;
  img {
    transition: all 0.2s ease-in-out;
    width: 24px;
    height: 24px;
    //filter: grayscale(1);
    margin-bottom: 9px;
  }
  span,
  svg {
    transition: all 0.2s ease-in-out;
    font-size: 12px;
  }
}
.vod {
  span {
    color: #f91600;
  }
}
.lc {
  span {
    color: #f5d300;
  }
}
.ks {
  span {
    color: #229dff;
  }
}
.cph {
  svg {
    margin-bottom: 6px;
    fill: $breeze;
  }
  span {
    color: $breeze;
  }
}
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: -8;
  opacity: 0;
  transition: 0.4s ease;
  &_active {
    z-index: 8;
    opacity: 1;
  }
}
.header-mobile {
  padding: 15px 0;
}
.social-links-box {
  padding: 15px 0;
  display: flex;

  align-items: center;
  svg {
    transition: all 0.2s ease-in-out;
    &:hover {
      fill: $breeze;
    }
  }
}
.menu-input-wrap {
  position: relative;
  padding: 15px 15px 0;
  &:after {
    content: "";
    width: 17px;
    height: 17px;
    background-image: url("../../img/search.svg");
    position: absolute;
    top: 50%;
    left: 25px;
  }
  span {
    position: absolute;
    bottom: -32px;
    color: black;
    display: none;
    left: 0;
    width: 100%;
    padding: 3px 5px;
    background: white;
    border: 1px solid $breeze;
  }
}
.menu__input {
  padding: 10px 0 6px 40px;
  outline: none;
  border: 1px solid $breeze;
}
.burger {
  width: 28px;
  height: 22px;
  position: relative;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
  span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: $breeze;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
  }
}
.burger span:nth-child(1) {
  top: 3px;
}

.burger span:nth-child(2) {
  top: 12px;
}

.burger span:nth-child(3) {
  top: 21px;
}

.burger.open span:nth-child(1) {
  top: 10px;

  transform: rotate(135deg);
}

.burger.open span:nth-child(2) {
  opacity: 0;
  left: 60px;
}

.burger.open span:nth-child(3) {
  top: 10px;
  transform: rotate(-135deg);
}

.logo-xs {
  width: 180px;
}
.phone-link-xs {
  width: 24px;
  height: 24px;
}
.main-page-top {
  height: 70vh;
  position: relative;
}
.top-slider__item {
  position: relative;
  height: 70vh;
  display: flex;
  justify-content: center;
  flex-direction: column;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }

  .container {
    position: relative;
    z-index: 2;
  }
}
.top-slider-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.top-slider-title {
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
}
.slide-desc {
  color: #ffffff;
  font-size: 16px;
  line-height: 26px;
}
.btn-custom {
  max-width: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 11px;
  padding-bottom: 10px;
  background-color: $breeze;
  color: $white;
  transition: all 0.3s ease-in-out;
  outline: none;
  border: none;
  &:hover {
    background-color: #067d7a;
    color: $white;
  }
}
.top-slider-navigation-box {
  position: absolute;
  bottom: 28px;
  left: 0;
  width: 100%;
}
.top-slider-container {
  position: relative;

  .slick-dots {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    list-style: none;
    transform: translateY(1.5px);
    a {
      background-color: transparent;
      color: #fff;
      border: none;
      font-size: 16px;
      margin: 0 20px;
      padding: 0;
    }
    li {
      position: relative;
      overflow: hidden;
      &:after {
        content: "";
        width: 0;
        height: 10px;
        background-color: $breeze;
        position: absolute;
        bottom: 3px;
        left: 19px;
        opacity: 0.3;
        transition: 0.2s ease-out;
      }
      &:hover {
        &:after {
          width: 20px;
        }
      }
    }
    li.slick-active {
      &:after {
        width: 20px;
      }
    }
  }
  .slick-arrow {
    margin: 0 25px;
  }
  .top-slider-arrow_prev {
    transform: rotate(180deg);
  }
}
.slick-arrow {
  cursor: pointer;
}
// services
.services {
  padding: 40px 0;
  background-color: $grey;
}
.title {
  color: $black;
  font-size: 26px;
  font-weight: 500;
  position: relative;
  display: inline-block;
  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 14px;
    background-color: $breeze;
    opacity: 0.3;
    bottom: 5px;
    left: 0;
  }
  &_drop-decor {
    &:after {
      display: none;
    }
  }
}
.text {
  color: $black;
  font-size: 14px;
  line-height: 22px;
}
.decor-bg {
  position: relative;
  z-index: 1;
  word-break: break-word;
}
.service__item {
  overflow: hidden;
  background-color: $white;
  position: relative;
  padding: 20px;
  min-height: 250px;
  margin-top: 20px;
  z-index: 2;

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 10px;
    box-shadow: 0 0 40px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    z-index: -2;
  }
  &:hover {
    &:after {
      box-shadow: 0 0 40px 10px rgba(0, 0, 0, 0.22);
    }
  }
}

.service-item-title {
  color: $white;
  position: relative;
  z-index: 1;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.21);
  font-size: 22px;
  font-weight: 700;
  display: inline-block;
  padding: 10px 15px 9px 25px;
  margin: 0 0 -11px -20px;
  background: rgba(9, 179, 175, 0.6);
}
.text_opacity03 {
  opacity: 0.3;
}

.main-services-text {
  display: flex;
  align-items: center;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 15px 20px;
  min-height: 104px;
  margin-bottom: 0;
  span {
    position: relative;
    z-index: 1;
    color: rgba(255, 255, 255, 0.9);
    font-size: 16px;
    line-height: 18px;
  }
  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
  }
}
.translateY-20 {
  transform: translateY(-20px);
}
.service__img_drill {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
// feedback
.feedback-img-box {
  img {
    object-fit: cover;
    max-height: 250px;
  }
}
.feedback-desc-box {
  background-color: $black;
  //   max-width: 430px;
  padding: 40px 15px;
}
.feedback-title {
  color: $breeze;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}
.text_white {
  color: $white;
}
//advantages
.advantages {
  background-color: $grey;
  padding: 30px 0 40px;
}
.advantages__item {
  border: 1px dashed $black;
  background-color: $white;
  padding: 25px 20px 20px;
  height: calc(100% - 20px);
  img {
    width: 45px;
  }
}
.advantages-item-title {
  color: $black;
  font-size: 20px;
  position: relative;
  font-weight: 400;
  &:after {
    content: "";
    width: 40px;
    height: 1px;
    background: $breeze;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
  }
}
.text_light {
  font-weight: 300;
}
// our  works
.our-works {
  overflow: hidden;
  padding: 90px 0 40px;
  position: relative;
}
.our-works-slider-bg {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 300px;
  opacity: 0.5;
  &_active {
    &:before {
      animation: 1s ease-out 0s appBG;
    }
  }
  &:before {
    content: "";
    width: 100%;
    height: 100%;
    background: $breeze;
    top: 0;
    left: 0;
    z-index: 1;
    position: absolute;
    transform: translateY(-100%);
  }
  z-index: 1;
  img {
    object-fit: cover;
  }
}
.our-works-slider {
  position: relative;
  z-index: 4;
}
.our-works-slider__item {
  img {
    height: 345px;
    object-fit: cover;
  }
}
.our-works-slider-arrow-box {
  margin-top: 15px;
}
.our-works__arrows {
  width: 38px;
  height: 23px;
  svg {
    width: 38px;
    height: 23px;
    fill: #3d3d3d;
    &:hover {
      fill: #09b3af;
    }
  }
}

.our-works-slider-count-box {
  font-size: 18px;
  font-weight: 300;
}
.made-booking {
  background-color: $grey;
  padding: 35px 0;
}
.made-booking-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 15px;
  margin-bottom: 15px;
}
.made-booking-title {
  color: $black;
  font-size: 18px;
  font-weight: 400;
}
.w-158 {
  max-width: 158px;
}
.howBookingOrderText {
  line-height: 22px;
}
// news
.news {
  padding: 90px 0 0;
}
.news-img-wrap {
  background-color: $breeze;
  position: relative;
  transform: translateX(-15px);
  height: 460px;
  img {
    position: absolute;
    top: -30px;
    left: 30px;
    width: 100%;
    height: 460px;
    object-fit: cover;
  }
}
.news-desc-wrap {
  background-color: $white;
}
.btn-custom_inverse {
  padding: 11px 0 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  background-color: $white;
  border: 1px solid $breeze;
  color: $breeze;
  overflow: hidden;
  position: relative;
  span {
    position: relative;
    z-index: 2;
  }
  &:after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: $breeze;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    z-index: 1;
    transition: all 0.5s ease-in-out;
  }
  &:hover {
    color: $white;
    &:after {
      transform: translateX(0);
    }
  }
}
// reviews

.reviews {
  padding: 45px 0 40px;
  border-bottom: 1px solid #d7d7d7;
  overflow: hidden;
}
.reviews-slider {
  // width: 190vw;
  position: relative;
  // margin: 0 -15px;
  // .slick-list {
  //   padding: 0 20px;
  // }
}
.reviews-slider__item {
  padding-bottom: 25px;
  img {
    height: 210px;
    max-width: 90%;
    margin: 0 auto;
    object-fit: contain;
  }
  &_shadow {
    box-shadow: 0 -2px 15px -1px rgba(0, 0, 0, 0.15);
  }
}
.reviews-slider__desc {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
  }
}
.reviews-slider__name {
  position: relative;
  &:after {
    content: "";
    position: absolute;
    bottom: -12px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $breeze;
  }
}
//// reviews video
.video-reviews {
  background-color: $grey;
  overflow: hidden;
  padding: 35px 0;
}
.video-reviews-slider {
  // width: 180vw;
  .slick-list {
    overflow: visible;
  }
}
.iframe-box {
  position: relative;
  padding: 0 8px;
}
.play-logo {
  cursor: pointer;
  width: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  img {
    transition: 0.2s ease-in-out;
  }
  &:hover {
    img {
      filter: drop-shadow(2px 4px 4px $black);
    }
  }
}
.text_16-20 {
  font-size: 16px;
}
// footer
.footer {
  overflow: hidden;
  padding-top: 40px;
  background-color: $black;
}
.footer-logo {
  max-width: 182px;
  display: block;
  margin: 0 auto 40px;
}
.footer-menu-link {
  color: $white;
  font-size: 16px;
  margin-bottom: 30px;
  &:hover {
    color: $white;
  }
}
.footer-text {
  display: block;
  opacity: 0.7;
  color: $white;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 16px;
  transition: all 0.3s ease-in-out;

  &:hover {
    color: $white;
    opacity: 1;
  }

  &.phone-link {
    font-size: 14px;
  }
}
a.footer-text span {
  position: relative;

  &:after {
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    background-color: $white;
    bottom: -1px;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.3s ease-in-out;
  }
  &:hover {
    &:after {
      width: 100%;
    }
  }
}
.footer-bottom-link {
  opacity: 0.7;
  color: $white;
  font-size: 14px;
  font-weight: 300;
  padding: 15px 0 16px;
  position: relative;
  border-top: 1px solid #325453;
}

canvas {
  display: block;
  vertical-align: bottom;
  &:first-child {
  }
} /* ---- particles.js container ---- */
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
} /* ---- stats.js ---- */
.count-particles {
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13e8e9;
  font-size: 0.8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
}
.js-count-particles {
  font-size: 1.1em;
}
#stats,
.count-particles {
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}
#stats {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}
.count-particles {
  border-radius: 0 0 3px 3px;
}

@keyframes appBG {
  0% {
    transform: translateY(-100%);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}
