.menu-dropdown {
  background-color: $black;
  list-style: none;
  padding-left: 0;
  &_position {
    z-index: 10;
    position: fixed;
    top: 137px;
    left: 0;
    bottom: 0;
    width: 100%;
    max-width: 380px;
    overflow: auto;
    transition: all 0.4s ease;
    transform: translateY(-110%);
    opacity: 0;
    &-active {
      transform: translateX(0);
      opacity: 1;
    }
  }
  &__item {
    display: block;
    margin: 8px 0;
  }
}
.menu-dropdown-link {
  display: flex;
  align-items:center;
  color: $white;
  font-weight: 300;
  font-size: 16px;
  position: relative;
  height: 100%;
  padding: 9px 40px 9px 30px;
  line-height: 100%;

  &:before{
    content:'';
    width: 0;
    height: 1.1px;
    background-color: #fff;
    margin-right:0;
    transition: all 0.3s ease-out;
  }
  &:not(.menu-dropdown-link_active) {
    &:hover {
      a {
        color: $breeze;

        &:after {
          width: 100%;
        }
      }
    }
  }
  &_active {
    background-color: $breeze;
    &:before{
      width: 15px;
      margin-right:10px;
    }
  }
  a {
    position: relative;
    color: $white;
    font-weight: 300;
    font-size: 16px;
    transition: all 0.35s ease-in-out;

    &:hover {
      color: $white;
    }

    &:after {
      content: '';
      position: absolute;
      bottom: -5px;
      left: 0;
      right: 0;
      height: 1px;
      width: 0;
      z-index: 1;
      background-color: rgba(255, 255, 255, 0.5);
      transition: all 0.45s ease-in-out;
    }
  }
  &:hover {
    color: $white;
  }
  span.menu-arrow {
    background-image: url("../img/mp/arrow-white.svg");
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center;
    width: 25px;
    height: 25px;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.4s ease-in-out;
    cursor: pointer;
  }
}
.menu-dropdown__item_open {
  border-bottom: 1px solid $breeze;
}
.rotate90 {
  transform: translateY(-14px) rotate(90deg) !important;
}
.social-links-box_absolute {
  // position: absolute;
  bottom: 15px;
  left: 0;
  width: 100%;
}
