#phoneModal {
  overflow: hidden;
  .border-bottom {
    border-bottom: 1px solid #e5e5e5 !important;
    &:last-child {
      border-bottom: none;
    }
  }
  .modal-content {
    transform: translateY(-60px);
    background-color: transparent;
    font-size: 20px;
    position: relative;
    border: none;
    &-box {
      position: relative;
      overflow: hidden;
    }
    .phone {
      color: $black;
    }
    &-box{
      border-radius: 3px;
      overflow: hidden;
    }
  }
  .modal-header {
    position: relative;
    border-bottom: 1px solid #e5e5e5 !important;
    p {
      position: relative;
      z-index: 1;
    }
    &:before {
      content: "";
      width: 100%;
      height: 295px;
      position: absolute;
      left: 0;
      top: 0;
      background-color: #fff;
      opacity: 0.5;
    }
    &:after {
      content: "";
      width: 100%;
      height: 295px;
      position: absolute;
      left: 0;
      top: 0;
      backdrop-filter: blur(20px);
      background-color: #F0F0F0;
      border-radius: 3px;
    }
  }
  .modal-footer {
    transform: translateY(15px);
    background-color:#F0F0F0;
    border-radius: 3px;
    span {
      color: $breeze!important;
    }
  }
}
#feedBackModalCenter,
#feedBackModal {
  .modal-body {
    padding: 42px 0 40px;
  }
  .feedBack-modal-title {
    color: $black;
    font-size: 26px;
    font-weight: 700;
  }
  .feedBack-modal-form,
  .callback-form {
    max-width: 270px;
    margin: 0 auto;
  }
  .feedBack-modal-input {
    width: 100%;
    margin-bottom: 15px;
    padding: 13px 15px 11px;
    border: 1px solid #3d3d3d;
    color: rgba(0, 0, 0, 0.37);
  }
}
.maxWth600 {
  max-width: 600px;
}
.custom-cross {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 34px;
  font-weight: 100;
}
@media (min-width: 992px) {
  #feedBackModalCenter,
  #feedBackModal {
    .modal-body {
      padding: 60px 0;
    }
    .feedBack-modal-title {
      color: $black;
      font-size: 40px;
      font-weight: 700;
    }
    .feedBack-modal-form {
      max-width: 320px;
    }
  }
}
