.news-page {
  padding: 15px 0 34px;
}
.news__item {
  position: relative;
  margin-bottom: 30px;
  overflow: hidden;
}
.news-img-box {
  height: 240px;
  transition: all 0.3s ease-in-out;
  img {
    height: 240px;
    width: 100%;
    object-fit: cover;
  }
  &:hover {
    transform: scale(1.25);
  }
}
.news-date-box {
  display: inline-block;
  text-align: center;
  padding: 8px 16px 6px;
  color: $breeze;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  border: 2px solid $breeze;
  margin-bottom: 10px;
}
.news-title {
  color: $black;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
}
.maxWdt100 {
  max-width: 100%;
}
@media (min-width: 992px) {
  .news-page {
    padding: 40px 0 60px;
  }
  .news-img-box {
    position: relative;
    height: 380px;
    &::after {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.3) 0%,
        rgba(0, 0, 0, 0.8) 100%
      );
    }
    img {
      height: 380px;
    }
  }
  .news-desc-box {
    pointer-events: none;
    position: absolute;
    bottom: 35px;
    left: 30px;
    right: 30px;
    z-index: 2;
    p {
      color: $white;
      font-size: 15px;
    }
  }
  .news-date-box {
    margin-bottom: 15px;
  }
  .news-title {
    color: $white;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 10px;
  }
}
