#news-open {
  background: $grey;
}
.news-open {
  padding: 0 0 30px;
}
.news-open-img-wrap {
  margin: 0 -15px 17px -15px;
}
.news-open-text {
  color: $black;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
}
.news-open-small-title {
  color: $black;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  margin-bottom: 10px;
}
.other-news-title {
  color: $black;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 15px;
  display: inline-block;
  &:hover {
    color: $black;
  }
}
.breadcrumbs {
  max-width: 520px;
}
@media (min-width: 992px) {
  .news-open{
    padding-bottom: 52px;
  }
  .news-open-img-wrap {
    margin: 0 0 17px 0;
    img{
      height: 511px;
      object-fit: cover;
    }
  }
  .news-open-small-title {
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 10px;
  }
  .other-news-title {
    color: $black;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 18px;
  }
  .breadcrumbs {
    max-width: 520px;
  }
  .other-news{
    padding-bottom: 15px;
  }
}
