.questions {
  background-color: $grey;
  padding: 20px 0 25px;
  height: 100%;
  flex: 1;
}
.questions-small-title {
  max-width: 343px;
  opacity: 0.3;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}
.questions__item {
  background-color: $white;
  padding: 20px 15px 20px 30px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 20px 4px rgba(0, 0, 0, 0.07);
  margin-bottom: 15px;
  transition: all 0.3s ease-in-out;
  min-height: 86px;
  p,
  span {
    color: #3d3d3d;
  }
  &:hover {
    box-shadow: -8px 8px 20px 4px rgba(0, 0, 0, 0.12);
  }
}
.questions_num {
  font-size: 100px;
  font-weight: 700;
  opacity: 0.07;
  position: absolute;
  top: 60%;
  left: 5px;
  line-height: 0;
}
@media (min-width: 992px) {
  .questions {
    padding: 40px 0 30px;
  }
  .questions-small-title {
    margin-bottom: 38px;
  }
  .questions__item {
    padding: 22px 20px 28px 40px;
    margin-bottom: 30px;
    min-height: 106px;
  }
  .questions_num {
    font-size: 125px;
  }
}
