.review {
  padding: 15px 0 40px;
  background-color: $grey;
}

.review__item {
  padding: 20px 15px;
  min-height: 231px;
  box-shadow: 0 0 20px 4px rgba(0, 0, 0, 0.07);
  background-color: $white;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;

}

.review-text-box {
  flex: 1;
}

.review-text {
  line-height: 22px;
}

.review-name {
  font-size: 14px;
  font-weight: 700;
}

.review-name-desc {
  opacity: 0.4;
  font-size: 12px;
}

.btn-custom_pagin {
  max-width: unset;
}

.review-link {
  outline: none;
  width: 169px;
  border-radius: 20px;
  border: 1px solid $breeze;
  padding: 10px 16px 7px;
  text-align: right;
  position: relative;
  font-size: 14px;
  color: $breeze;
  overflow: hidden;

  &:after {
    content: "";
    border-radius: 20px;
    width: 0;
    height: 100%;
    background-color: $breeze;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: all 0.5s ease-in-out;
    z-index: 1;
  }

  span {
    transition: all .4s ease-in-out;
    z-index: 2;
  }

  &:hover {
    color: $breeze;

    span {
      color: $white;
    }

    &:after {
      width: 105%;
    }
  }
}

.pagin {
  justify-content: space-between !important;
}

.pagin-num-box {
  margin: 0 10px !important;
}

.review-link-img {
  pointer-events: none;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.review-date {
  opacity: 0.3
}

@media (min-width: 992px) {
  .review {
    padding: 40px 0 60px;
  }
  .review__item {
    padding: 40px 40px 25px;
    min-height: 292px;
    margin-bottom: 30px;
  }
  .review-text {
    font-size: 15px;
  }
  .review-name {
    font-size: 16px;
  }
  .review-name-desc {
    font-size: 14px;
    color: #3d3d3d;
  }
  .review-link {
    width: 169px;
    border-radius: 20px;
    border: 1px solid $breeze;
    padding: 10px 16px 7px;
    text-align: right;
    position: relative;
    font-size: 14px;
    color: $breeze;

    &:hover {
      color: $breeze;
    }
  }

  .pagin {
    justify-content: flex-start !important;
  }

  .review-link-img {
    pointer-events: none;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

}
