.works-photo-slider-block {
  padding : 15px 0 30px;
}

.work-photo-slider-first,
.work-video-slider-first {
  margin : 0 -15px 0 -15px;
}

.work-photo-slider-first__item {
  height : 627px;

  img {
    height     : 100%;
    object-fit : cover;
  }
}

.works-drop {
  width    : 100%;
  position : relative;

  &-title {
    display    : block;
    color      : $white;
    width      : 100%;
    padding    : 12px 15px 11px;
    background : $breeze;
  }

  &-arrow {
    transform : rotate(90deg);
  }

  &-list {
    position         : absolute;
    width            : 100%;
    z-index          : 1;
    padding-left     : 0;
    list-style       : none;
    background-color : #69cfcd;
    overflow-y       : auto;
    max-height       : 500px;

    &-item {
      padding        : 9px 15px;

      font-size      : 12px;
      font-weight    : 500;
      text-transform : uppercase;

      a {
        color : $white;

        &:hover {
          color : $white;
        }
      }
    }
  }
}

.count-box {
  font-size : 16px;
}

.work-video {
  width  : 100%;
  height : 210px;
}

.work-video-slider-first__item {
  .work-video-slider {
    width      : 100%;
    height     : 210px;
    object-fit : cover;
  }
}

.work-video-slider-second__item {
  img {
    width : 100%;
  }
}

.arrow-box {
  max-width    : 280px;
  margin-left  : auto;
  margin-right : auto;
}

.arrow {
  svg {
    transition : all 0.3s ease-in-out;
  }

  &:hover {
    svg {
      fill : $breeze;
    }
  }
}

.work-video-slider-iframe {
  display : none;
}

@media (min-width : 568px) {
  .works-dropdown {
    display   : block;
    max-width : 280px;
  }
  .work-video-slider-first__item {
    .work-video-slider {
      width      : 100%;
      height     : 410px;
      object-fit : cover;
    }
  }
  .work-photo-slider-first,
  .work-video-slider-first {
    margin : 0;
  }
}

@media (min-width : 992px) {
  .works-drop {
    width : 280px;
  }
  .works-photo-slider-block {
    padding : 40px 0 60px;
  }
  .works-dropdown {
    margin : 0 auto;
  }
  .work-video-slider-first__item {
    .work-video-slider {
      width      : 100%;
      height     : 627px;
      object-fit : cover;
    }
  }
  .count-box {
    font-size : 23px;
  }
  .work-video {
    width  : 100%;
    height : 630px;
  }
  .work-photo-slider-second,
  .work-video-slider-second {
    .slick-current {
      img {
        border : 5px solid $breeze;
      }
    }
  }
}
