/*@import "admin/stylesheet";*/

.main-panel.login_panel {
  width: 100%;
}

.login_btn {
  margin-left: auto;
  margin-right: auto;
}

.menu_drop button:after {
  display: none;
}

.menu_drop button i {
  font-size: 24px !important;
}

.menu_drop button.btn {
  padding: 0;
  margin: 0;
}

.drop_menu_button {
  width: 100%;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0.625rem 1.5rem;
  transition: all 0.2s ease-out;
}

.drop_menu_button:hover {
  color: #fff;
}

.team_select {
  max-width: 70px;
}

.input_file_item {
  margin: 13px 0 0;
}

.remove_char {
  color: red;
  font-size: 24px;
  cursor: pointer;
  max-width: 24px;
  width: 100%;
}

.char_box p {
  margin-right: 5px;
}

.plus_item {
  font-size: 24px;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 3s ease-out;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
}

.plus_item:hover {
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
}

.char_box {
  flex-wrap: wrap;
}

.char_input {
  width: 100%;
  border: 1px solid #ccc;
  padding: 0.4375rem 8px;
  color: #495057;
}

.char_input:last-child {
  border-left: none;
}

input.flatpickr-input {
  background-color: transparent !important;
}

.nav--vertical {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav--vertical li.dropmenu {
  position: relative;
  display: block;
}

.nav--vertical li.dropmenu.dropmenu ul {
  display: none;
}

.nav--vertical li.dropmenu.dropmenu:hover > ul {
  display: block;
}

.nav--vertical li a {
  margin: 0;
  text-decoration: none;
  padding: 7px 10px;
  display: block;
  margin-bottom: 1px;
  background-color: #fff;
}

.nav--vertical li ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 100%;
}

.nav--vertical li ul.level1,
.nav--vertical li ul.level2 {
  min-width: 150px;
  top: 0;
  border-left: 1px solid #fff;
}

.level2 {
  max-height: 100%;
  height: 100%;
  overflow: auto;
}

.level1 a {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.wrapper .sidebar .sidebar-wrapper {
  overflow: auto;
}

.nav-item.active > .nav-link {
  background-color: #3C4858 !important;
  color: #fff !important;
}

#login .main-panel {
  float: none;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
  font-family: "Avenir Next Cyr", sans-serif;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

html,
body {
  min-height: 100%;
}

