@charset "UTF-8";
.pagin{
  .pagin-arrow{
    &.pagin-prev{
      transform: rotate(180deg);
    }
  }
  .pagin-num{
    padding: 6px;
    margin-right: 5px;
    margin-left: 5px;
    font-size: 16px;
    //color: black;
    position: relative;
    &::after {
      content: "";
      width: 0;
      height: 10px;
      background-color: #09b3af;
      position: absolute;
      bottom: 7px;
      left: 0;
      opacity: 0.3;
      transition: all 0.3s ease-out;
    }
    &:hover {
      color: black;
      &::after {
        width: 20px;
      }
    }
    &_active {
      &::after {
        width: 20px;
      }
    }
  }
}